<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="calm-collapse">
    <template>
        <style>
            :host {
                display: block;
            }
            #collapsable {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
        </style>

        <div id="collapsable">
            <slot></slot>
        </div>

    </template>

    <script>
    /**
    * `calm-collapse`
    * collapsable element compatible with IE
    *
    * @customElement
    * @polymer
    * @demo demo/index.html
    */
    class CalmCollapse extends Polymer.Element {
        static get is() { return 'calm-collapse'; }
        static get properties() {
            return {
                open: {
                    type: Boolean,
                    value: false,
                    observer: "_openChange"
                }
            };
        }

        toggle() {
            if (this.open) {
                this.open = false;
            } else {
                this.open = true;
            }
        }

        _openChange() {
            if (this.open) {
                this.$.collapsable.style.maxHeight = this.$.collapsable.scrollHeight + "px";
            } else {
                this.$.collapsable.style.maxHeight = null;
            }
        }
    }

    window.customElements.define(CalmCollapse.is, CalmCollapse);
    </script>
</dom-module>
